{% layout "layouts/base.liquid" %}

{% block content %}
  <div class="ui container">
    <h1>나무증권 요약: {{ dateKst }}</h1>

    <!-- 테이블 규격으로 정렬하고 싶다 -->
    <table class="ui celled compact selectable unstackable table">
      <thead>
        <tr>
          <th>종합</th>
          <th>상품명</th>
          <th>상품코드</th>
          <th>수량</th>
          <th>현재가</th>
          <th>매입금액</th>
          <th>평가금액</th>
          <th>평가손익</th>
          <th>수익률</th>
        </tr>
      </thead>

      <tbody>
        <tr
          {% if summary.lsnpf_amt_won > 0 %}
          class="product-positive"
          {% elsif summary.lsnpf_amt_won < 0 %}
          class="product-negative"
          {% endif %}>

          <td></td>
          <td>종합</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="right aligned currency-text">{{ summary.byn_amt }}</td>
          <td class="right aligned currency-text">{{ summary.ass_amt }}</td>
          <td class="right aligned color-text currency-text">{{ summary.lsnpf_amt_won }}</td>
          <td class="right aligned color-text">{{ summary.pft_rt | round: 2 }}</td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th>계좌별</th>
          <th>상품명</th>
          <th>상품코드</th>
          <th>수량</th>
          <th>현재가</th>
          <th>매입금액</th>
          <th>평가금액</th>
          <th>평가손익</th>
          <th>수익률</th>
        </tr>
      </thead>

      <tbody>
        {% for report in reports %}
          {% assign summary = report.summary %}
          <tr
            {% if summary.lsnpf_amt_won > 0 %}
            class="product-positive"
            {% elsif summary.lsnpf_amt_won < 0 %}
            class="product-negative"
            {% endif %}>

            <td>요약</td>
            <td>계좌 {{ report.accountId }}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="right aligned currency-text">{{ summary.byn_amt }}</td>
            <td class="right aligned currency-text">{{ summary.ass_amt }}</td>
            <td class="right aligned color-text currency-text">{{ summary.lsnpf_amt_won }}</td>
            <td class="right aligned color-text">{{ summary.pft_rt | round: 2 }}</td>
          </tr>
        {% endfor %}
      </tbody>

      {% for report in reports %}
        {% assign snapshots = report.snapshots %}

        <thead>
          <tr>
            <th>잔고유형 {{ report.accountId }}</th>
            <th>상품명</th>
            <th>상품코드</th>
            <th>수량</th>
            <th>현재가</th>
            <th>매입금액</th>
            <th>평가금액</th>
            <th>평가손익</th>
            <th>수익률</th>
          </tr>
        </thead>

        <tbody>
          {% for entry in snapshots %}
            <tr
              {% if entry.holding.lsnpf_amt_won > 0 %}
              class="product-positive"
              {% elsif entry.holding.lsnpf_amt_won < 0 %}
              class="product-negative"
              {% endif %}>

              <td>{{ entry.product.pdt_tp_nm }}</td>
              <td>{{ entry.product.issue_name }}</td>
              <td>{{ entry.product.issue_code }}</td>

              <td class="right aligned currency-text">{{ entry.holding.bal_qty }}</td>
              <td class="right aligned currency-text">{{ entry.holding.prsnt_price | divided_by: 100 }}</td>
              <td class="right aligned currency-text">{{ entry.holding.byn_amt }}</td>
              <td class="right aligned currency-text">{{ entry.holding.ass_amt }}</td>

              <td class="right aligned color-text currency-text">
                {{ entry.holding.lsnpf_amt_won }}
              </td>
              <td class="right aligned color-text">
                {{ entry.holding.earn_rate | round: 2 }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      {% endfor %}
    </table>
  </div>

  <script>
    const currencyElements = document.querySelectorAll('.currency-text');
    for(const currencyElement of currencyElements ) {
      const v = Number.parseFloat(currencyElement.textContent);
      currencyElement.textContent = v.toLocaleString();
    }
  </script>
{% endblock %}
