<tr
  {% if holding.lsnpf_amt_won > 0 %}
  class="product-positive"
  {% elsif holding.lsnpf_amt_won < 0 %}
  class="product-negative"
  {% endif %}>

  <td>
    <!-- 잔고유형 -->
    {{ product.pdt_tp_nm }}
  </td>

  <td>
    <!-- 상품명 -->
    {{ issue_name }}
  </td>

  <td>
    <!-- 상품코드 -->
    {{ product.issue_code }}
  </td>

  <td class="right aligned currency-text">
    <!-- 수량 -->
    {{ holding.jan_qty }}
  </td>

  <td class="right aligned currency-text">
    <!-- 현재가 -->
    {% if product.cur_cd == "" %}
      {{ holding.prsnt_price | divided_by: 100 }}
    {% elsif product.cur_cd == "KRW" %}
      {{ holding.prsnt_price | divided_by: 100 }}
    {% elsif product.cur_cd == "USD" %}
      {{ holding.prsnt_price | divided_by: 100 | to_fixed: 2 }}
    {% endif %}
  </td>

  <td class="right aligned currency-text">
    <!-- 매입금액 -->
    {{ holding.byn_amt }}
  </td>

  <td class="right aligned currency-text">
    <!-- 평가금액 -->
    {{ holding.ass_amt }}
  </td>

  <td class="right aligned color-text currency-text">
    <!-- 평가손익 -->
    {{ holding.lsnpf_amt_won }}
  </td>

  <td class="right aligned color-text">
    <!-- 수익률 -->
    {% if holding.earn_rate %}
      {{ holding.earn_rate | round: 2 }}
    {% endif %}
  </td>
</tr>
